/* Karla - latin */
@font-face {
    font-family: "Karla";
    font-weight: 400;
    font-display: swap; 
    src: url("./fonts/karla-v31-latin-regular.woff2") format("woff2"),
        url("./fonts/karla-v31-latin-regular.woff") format("woff");
}
@font-face {
    font-family: "Karla";
    font-weight: 700;
    font-display: swap; 
    src: url("./fonts/karla-v31-latin-700.woff2") format("woff2"), 
        url("./fonts/karla-v31-latin-700.woff") format("woff");
}
/* dm-serif-display-regular - latin */
@font-face {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-display: swap; 
    src: url("./fonts/dm-serif-display-v15-latin-regular.woff2") format("woff2"),
        url("./fonts/dm-serif-display-v15-latin-regular.woff") format("woff");
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Karla";
    font-weight: 700;
}
img {
    display: block;
}
.container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.list-styles {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

/* header start */
.header-box {
    display: flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 19px;
}
.navbar {
    margin-right: 33px;
    margin-left: auto;
}
.navbar-list {
    display: flex;
    column-gap: 25px;
}
.navbar-item-link {
    font-size: 13px;
    letter-spacing: 1.5px;
    text-decoration-line: none;
    color: #837d88;
}
.navbar-item-link:hover {
    color: #2c2830;
}
.header-link {
    font-size: 13px;
    letter-spacing: 1.5px;
    border: 1.5px solid #2c2830;
    padding: 13px 28px 12px;
    text-decoration-line: none;
    color: #2c2830;
    background-color: #fff;
}
.header-link:hover {
    border: 1.5px solid #2c2830;
    color: #fff;
    background-color: #2c2830;
}
/* header finish */

/* sections wrapper start */
.sections-wrapper::before {
    position: absolute;
    top: 470px;
    left: calc(50% - 1250px);
    z-index: 2;
    display: block;
    width: 697px;
    height: 649px;
    background-image: url("./images/herobg.svg");
    background-repeat: no-repeat;
    background-size: 697px 649px;
    content: "";
}
/* sections wrapper finish */

/* section one start */
.hero {
    position: relative;
    padding-top: 105px;
    padding-bottom: 127px;
    background-image: url("./images/herobg.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 670px) calc(50% - 95px);
    background-color: #2d2641;
}
.hero-box {
    display: flex;
    justify-content: space-between;
}
.hero-text-wrapper {
    width: 530px;
}
.hero-text-wrapper::before {
    display: block;
    width: 150px;
    border: 1px solid #fff;
    background-color: #fff;
    content: "";
}
.hero-title {
    margin-top: 63px;
    margin-bottom: 16px;
    font-family: "DM Serif Display";
    font-size: 72px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1px;
    color: #fff;
}
.hero-desc {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
}
.hero-link {
    font-size: 13px;
    letter-spacing: 1.5px;
    border: 1.5px solid #fff;
    padding: 13px 28px 12px;
    text-decoration-line: none;
    color: #fff;
}
.hero-link:hover {
    border: 1.5px solid #fff;
    color: #2c2830;
    background-color: #fff;
}
.hero-img {
    position: absolute;
    bottom: -170px;
    left: calc(50% + 15px);
}
/* section one finish */

/* section two start */
.different {
    padding-top: 305px;
    padding-bottom: 158px;
}
.different-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "DM Serif Display";
    font-size: 72px;
    font-weight: 400;
    line-height: 64px; 
    letter-spacing: -1px;
    color: #2c2830;
}
.different-title::before {
    display: block;
    width: 150px;
    margin-bottom: 63px;
    border: 1px solid #c396c6;
    content: "";
}
.different-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 96px;
}
.different-item {
    width: 350px;
}
.different-item::before {
    width: 86px;
    height: 86px;
    margin-bottom: 32px;
    display: block;
    background-image: url("./images/differentprocess.svg");
    background-repeat: no-repeat;
    background-size: 86px;
    content: "";
}
.different-item:nth-child(2)::before {
    width: 86px;
    height: 86px;
    margin-bottom: 32px;
    display: block;
    background-image: url("./images/differentprices.svg");
    background-repeat: no-repeat;
    background-size: 86px;
    content: "";
}
.different-item:nth-child(3)::before {
    width: 86px;
    height: 86px;
    margin-bottom: 32px;
    display: block;
    background-image: url("./images/differentpeople.svg");
    background-repeat: no-repeat;
    background-size: 86px;
    content: "";
}
.different-item-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "DM Serif Display";
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -0.389px;
    color: #2c2830;
}
.different-item-desc {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #837d88;
}
/* section two finish */

/* article start */
.how-wework {
    padding-bottom: 150px;
}
.how-wework-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 69px 80px;
    background-image: url("./images/articlebg.svg");
    background-repeat: no-repeat;
    background-size: 1110px 250px;
}
.how-wework-title-wrapper {
    width: 475px;
}
.how-wework-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "DM Serif Display";
    font-size: 56px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.778px;
    color: #fff;
}
.how-wework-link {
    font-size: 13px;
    letter-spacing: 1.5px;
    border: 1.5px solid #fff;
    padding: 13px 28px 12px;
    text-decoration-line: none;
    color: #fff;
}
.how-wework-link:hover {
    border: 1.5px solid #fff;
    color: #2c2830;
    background-color: #fff;
}
/* article finish */

/* footer start */
.site-footer {
    background-image: url("./images/footerbg.svg");
    background-size: 1536px 393px;
    background-repeat: no-repeat;
    background-position: calc(50% + 0px);
}
/* footer top start */
.footer-top-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dadada;
    padding-top: 64px;
    padding-bottom: 33px;
}
.footer-top-social-wrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
/* footer top finish */
/* footer bottom start */
.footer-bottom-box {
    display: flex;
    column-gap: 30px;
    padding-top: 48px;
    padding-bottom: 64px;
}
.footer-bottom-title-and-links-wrapper {
    width: 255px;
}
.footer-bottom-items-title {
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #837d88;
}
.footer-bottom-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 36px;
}
.footer-bottom-item-link {
    font-size: 13px;
    letter-spacing: 1.5px;
    text-decoration-line: none;
    color: #2d2641;
}
.footer-bottom-item-link:hover {
    text-decoration-line: underline;
}
/* footer bottom finish */
/* footer finish */
